body {
    background-color: #222222;
}
#Top {
    text-align: center;
    border-bottom: 5px solid #ffffff;
    color: #ffffff;
    width: 500px;
    margin: 1em auto;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Middle {
    margin: 1em auto;
    width: 226px;
    height: 226px;
    padding: 0;
    transition: width 0.5s, height 0.5s;
}
#Middle:hover {
    width: 246px;
    height: 246px;
}
.Video {
    border: 10px solid #ffffff;
    width: 226px;
    height: 226px;
    transition: width 0.5s, height 0.5s;
}
.Video:hover {
    width: 246px;
    height: 246px;
}
#Bottom {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    width: 500px;
    margin: 1em auto;
    padding: 0;
    font-family: Georgia, 'Times New Romam', Times, serif;
}